*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow: scroll;
}
.container{
    position: relative;
}
.cont1{
    display: flex;
    background-color: #80808028;
    height: 30px;
    padding-inline: 20px;
    margin-top: -5px;
    gap: 350px;
}

.sell{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 80px;
}

.sell i{
    color: #f28a31;
    font-size: 20px;
}

.sell p{
    color: #f28a31;
}

.jum{
    display: flex;
    align-items: center;
    gap: 20px;

}

.jum img{
    height: 20px;
}

.jum p{
    color: rgba(0, 0, 0, 0.332);
    font-family: 'Times New Roman', Times, serif;
}

.jum p:hover{
    color: #f28a31;
}

.cont2{
    background-color: white ;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-inline: 100px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.372);
    
}

.cont2 img{
    height: 30px;
}

.sec{
    display: flex;
    align-items: center;
    gap: 20px;
    /* margin-left: 90px; */
}

.div input{
    height: 40px;
    width: 500px;
    border: 1px solid black;
    outline: none;
    padding-inline: 30px;
    font-size: 17px;
}

.div input:hover{
    border: 1px solid #f28a31;
    transition: 0.5s;
}

.div i{
    position: absolute;
    left: 19.5%;
    margin-top: 10px;
}

.div button{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #f28a31;
    color: white;
    cursor: pointer;
}

.sec button:hover{
    background-color: #d56e14;
}

.acc{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    cursor: pointer;
    /* height: 50px; */
    padding:10px;
    color: #000000d4;
}

.acc:hover{
    color: #f28a31;
    background-color: #80808048;
    transition: 1s;
    border-radius: 5px;
}

.acc i{
    font-size: 18px;
    /* color: #0000009e; */
}

.inner{
    /* position: relative; */
    display: inline-block;
}

.inner:hover .signing{
    display: block;
}

.sign{
    height: 75px;
    border-bottom: 2px solid #80808048;
}

.signing{
    background-color: whitesmoke;
    z-index: 22;
    position: absolute;
    width: 16%;
    padding-inline: px;
    height: 210px;
    margin-top: 3px;
    margin-left: -30px;
    border-radius: 5px;
    display: none;
    
}

.sign button{
    margin-top: 13px;
    height: 40px;
    width: 80% ;
    margin-left: 20px;
    border: none;
    background-color: #f28a31;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.602);
    cursor: pointer;
    color: white;
    font-size: 18px;

}

.my{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-inline: 10px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.74);
    margin-top: 5px;
    cursor: pointer;
    width: 100%;
    height: 40px;
}

.my:hover{
    background-color: #80808048;
    font-size: 19px;
   

}

.helpDrop{
    background-color: whitesmoke;
    z-index: 22;
    position: absolute;
    width: 16%;
    padding-inline: px;
    height: 250px;
    margin-top: 3px;
    margin-left: -30px;
    border-radius: 5px;
    display: none; 
}

.helpDrop p{
    margin: 15px;
    cursor: pointer;
}

.helpDrop p:hover{
    color: #f28a31;
}

.live{
    border-top: 2px solid #80808048;
}

.live button{
    margin-top: 13px;
    height: 40px;
    width: 80% ;
    margin-left: 20px;
    border: none;
    background-color: #f28a31;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.602);
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.help:hover .helpDrop{
    display: block;
}

.sect1{
    height: 1000px;
    width: 100%;
    position: relative;
    display: flex;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    gap: 20px;
    background-color: rgba(178, 174, 174, 0.325);
    /* margin-top: 10px; */
}

.leftCont{
    width: 100%;
    height: 190px;
    background-color: white;
    border-radius: 5px;
    /* display: flex; */
    /* gap: 5px; */
   
}

#items{
    height: 200px;
    width: 100%;
    border-top: 1px solid #00000024;
    background-color: white;
    padding: 15px;
    overflow: hidden;
}



.empty{
    height: 300px;
    width: 1000px;
    border-top: 1px solid #00000024;
    background-color: white;
    padding: 350px;
    color: rgba(0, 0, 0, 0.516);
}


.cart{
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.219); */
    height: 50px;
    width: 100%;
    background-color: white;
    padding: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart h3{
    font-weight: 500;

}

.cartItem{
    display: flex;
    gap: px;
    margin-top: 10px;
    justify-content: space-between;
    /* align-items: center; */

}

.cartItem img{
    height: 120px;

}

.cartDetails{
    display: flex;
    gap: 10px;
}

.details p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
    width: 90%;
}

.details p:nth-child(2){
    color: rgba(0, 0, 0, 0.72);
    font-size: 14px;
}

.express{
    /* display: flex; */
    gap: px;
    margin-top: 10px;
    align-items: center;

}
.express p:nth-child(1){
    font-size: 12px;
}

.express p:nth-child(2){
    font-size: 12px;
    color: #f28a31;
    font-family: monospace;
    cursor: pointer;
} 

.cartCost p{
   font-size: 25px;
   font-weight: 500;
   margin-right: 30px;
   width: 100%;
   
}

.remove{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.bin{
    display: flex;
    color: #f28a31;
    gap: 5px;
    cursor: pointer;
    align-items: center;
}

.addSub{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #f28a31;
}

.addSub button{
    height: 30px;
    width: 30px;
    border: none;
    background-color: #f28a31;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.rightCont{
    width: 25%;
    height: 600px;
    border-radius: 5px;
    
}

.topboy{
    height: 200px;
    background-color: white;
    border-radius: 5px;
    padding: 10px; 
}

.summary{
    padding: 5px;
    border-bottom: 1px solid #00000025;
}

.summary h3{
    font-weight: 500;
    font-size: 15px;
}

.subtotal{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.subtotal h3{
    font-weight: 500;
    font-size: 20px;
    color: #000000dd;
}

.topboy > p{
    color: #000000ca;
    font-size: 13px;
    margin-top: 10px;
}

.line{
    background-color: #00000022;
    height: 1px;
    margin-top: 10px;
}

.topboy button{
    height: 40px;
    width: 100%;
    margin-top: 20px;
    border: none;
    background-color: #f28a31;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.rightCont button:hover{
    background-color: #d56e14;
}

.bottomboy{
    height: 120px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.bottomboy h2{
    font-weight: 50;
    font-size: 20px;
}

.bottomboy p{
    font-size: 14px;
    margin-top: 10px;
}

#count{
    color: #f28a31;
}

#counting{
    color: #f28a31;
}


/* Styles for the pop-up container */
.popup-container {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
}
  
.popup-content {
    position: absolute;
    height: 65%;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

.popup-container h3{
    margin-left: 35%;
}

.lin{
    height: 1px;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.154);
}

.content{
    padding: 10px;
}
  
.firstInput{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.firstInput input{
    height: 40px;
    width: 50%;
    border: 1px solid #f28a31;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 15px;
}

.telephone{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.telephone1{
    display: flex;
    gap: 38px;
}

.telephone1 input{
    height: 40px;
    width: 350px;
    border: 1px solid #f28a31;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 15px;
}

.lonelyMfs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.lonelyMfs input{
    height: 50px;
    width: 100%;
    border: 1px solid #f28a31;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 15px;
}

.region{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.region input{
    height: 40px;
    width: 50%;
    border: 1px solid #f28a31;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 15px;
}

#close{
    height: 50px;
    width: 50%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f28a31;
    color: white;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 20px;
}

#close:hover{
    background-color: #d56e14;
}